<div class="page-header"><h1><%=@menu_title%></h1></div>
<div class="panel panel-default">

    <div class="panel-body">

      <%= form_tag({:action => 'insert'}, {:class => 'form-horizontal'}) do %>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-3 control-label">Username</label>
          <div class="col-sm-9">
            <input name="username" class="form-control" id="inputEmail3" placeholder="Username">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
            <input name="email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-3 control-label">First Name</label>
          <div class="col-sm-9">
            <input name="firstname" class="form-control" id="inputEmail3" placeholder="FirstName">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-3 control-label">Last Name</label>
          <div class="col-sm-9">
            <input name="lastname" class="form-control" id="inputEmail3" placeholder="Last Name">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-info">Submit</button>
          </div>
        </div>
      <%end%>
    </div>
</div>